/* ************************ 
    Global Styles 
************************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(235, 235, 235);
}

/* ************************ 
    Navbar Styles 
************************* */
.navbar {
    background-color: #202020;
    height: auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  height: 5rem;
  padding: 20px;
}

.menu li {
    transition: background-position-x 0.6s linear;
}
.menu li a {
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.45s;
}
.menu li:hover a {
    color: #4fc9d9;
}
.menu li:not(:last-child) {
    margin-right: 30px;
}

/* ************************ 
    Pages Styles 
************************* */
.hidden {
    display: none;
}

.page {
    margin-top: 20px;
}


/* ************************ 
    Button Styles 
************************* */
.button {
    position: absolute;
    position: fixed;
    color: white;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.rounded {
    border: none;
    padding: 18px;
    border-radius: 50% 50%;
}

.btn-large {
  background-color: #41a4b1;
  width: 60px;
  height: 60px;
  font-size: 40px;
}

.btn-medium {
  background-color: #366c97;
  width: 40px;
  height: 40px;
  padding: 12px;
  font-size: 20px;
}

.btn-small {
  background-color: #afb141;
  width: 25px;
  height: 25px;
  padding: 12px;
  font-size: 18px;
}

/* Set link on the same style than buttons */
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  /* color: initial; */

  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}



/* ************************ 
    Form Styles 
************************* */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4fc9d9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
  }
  
  input[type=submit]:hover {
    background-color: #41a4b1;
  }
  
  .container {
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0.486);
    padding: 20px;
    margin: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }


/* ************************ 
    Card Styles 
************************* */

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}


.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem 1.5rem 1rem 1.5rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  border-radius: 16px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  background-color: #20202066;
  border-radius: 10px;
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.8rem;
  font-weight: bolder;
  line-height: 1.2;
  color: #4fc9d9;
}

.subtitle {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1rem;
  font-style: italic;
  line-height: 1.1;
  text-align: justify;
}

.card-button {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: #41a4b1;
  border: none;
}

.card-button:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

/* ************************ 
    Override in app browser styles by getting
    the last element of the application (generated
    code) 
************************* */
body div:last-of-type {
  z-index: 99;
  border-width: 0 !important;
  border-style: none !important;
}
